######################################################################
#DATE: 2014-03-27
#SITE: Vegayan SiMPLuS IP PMS mpls server at Airtel Okhla
#IP: 10.227.244.69
# sparc sun4v 128 cpu , 128 GB RAM, Solaris 11.1
#DESCRIPTION: MySQL config 5.5.x
#RAM: 64GB RAM  --- 64-bit mysql server
#
# http://dev.mysql.com/doc/refman/5.5/en/innodb-parameters.html
#######################################################################

[mysqld_safe]
nice                    = -15

[client]
socket                  = /tmp/mysql.sock
#socket                 = /var/lib/mysql/mysql.sock
port                    = 3306
default-character-set   = utf8

# The MySQL server
[mysqld]
server-id=3                                     # M2M LOG REPLICATION
log-bin=mysql-bin                               # M2M LOG REPLICATION
datadir         = /sandata/livedb/mysql/data
port            = 3306
socket          = /tmp/mysql.sock
net_read_timeout = 180
net_write_timeout = 180
group_concat_max_len = 10000000
#socket         = /var/lib/mysql/mysql.sock

## Files
back_log                = 300
open-files-limit       = 8192
#open-files             = 1024
#pid-file               = /var/lib/mysql/mysql.pid
skip-external-locking
#skip-name-resolve
#skip-grant-tables
table_open_cache = 512
secure_file_priv=""
sql_mode=""
expire_logs_days=2
slave_skip_errors=all
#group_replication_allow_local_disjoint_gtids_join=ON

## Logging
#log                             = mysql-gen.log
log_error                        = mysql-error.err
log_warnings
#log_bin                          = mysql-bin   # bin log to file, backup
slow_query_log = 1                              # 0 dont log , 1 do log slow query
long_query_time                  = 300        #secs; If a query takes longer, mysqld logs it
#log_slow_queries                 = mysql-slow.log
#log_queries_not_using_indexes
#max_binlog_size                 = 256M        #max size for binlog before rolling
#expire_logs_days                = 4        #binlog files older than this will be purged
sync_binlog=1                                           # M2M LOG REPLICATION

## Per-Thread Buffers * (max_connections) = total per-thread mem usage
thread_stack                     = 256K         #default: 32bit: 192K, 64bit: 256K
sort_buffer_size                 = 2M         #default: 2M, larger may cause perf issues
read_buffer_size                 = 4M         #default: 128K, change in increments of 4K
read_rnd_buffer_size             = 8M         #default: 256K
join_buffer_size                 = 4M         #default: 128K
binlog_cache_size                = 64K         #default: 32K, size of buffer to hold TX queries
## total per-thread buffer memory usage: 2368000K = 2.312GB

## Query Cache
query_cache_size                 = 32M        #global buffer
query_cache_limit                = 512K        #max query result size to put in cache

## Connections
max_connections                  = 500        #multiplier for memory usage via per-thread buffers
max_connect_errors               = 100        #default: 10
concurrent_insert                = 2        #default: 1, 2: enable insert for all instances
#connect_timeout                  = 30        #default -5.1.22: 5, +5.1.22: 10
max_allowed_packet               = 1G        #max size of incoming data to allow


## Thread settings
#thread_concurrency               = 128 #recommend 2x CPU cores
thread_cache_size                = 10 #recommend 5% of max_connections


## MyISAM Engine
#key_buffer                       = 512K        #global buffer
#myisam_sort_buffer_size          = 128M        #index buffer size for creating/altering indexes
#myisam_max_sort_file_size        = 256M        #max file size for tmp table when creating/alering indexes
#myisam_repair_threads            = 4        #thread quantity when running repairs
#myisam_recover                   = BACKUP        #repair mode, recommend BACKUP

key_buffer_size = 1G
query_cache_size = 256M

## InnoDB Plugin Independent Settings
#innodb_data_home_dir           = /var/lib/mysql                # [mysqld] datadir is used as default
#innodb_data_file_path           = ibdata1:128M;ibdata2:10M:autoextend
innodb_log_file_size            = 768M     #64G_RAM+ = 768, 24G_RAM+ = 512, 8G_RAM+ = 256, 2G_RAM+ = 128
                                           #innodb_log_file_size - The size in bytes of each log file
innodb_log_files_in_group       = 4        #innodb_log_files_in_group - log file count, 2 < 2G_RAM, 4 > 2G_RAM
                                           #innodb_log_file_size * innodb_log_files_in_group < 4GB InnoDB limit
innodb_log_buffer_size          = 64M      #global ; size of buffer that InnoDB uses to write to the log files on disk
innodb_buffer_pool_size         = 48G      #global ; the memory area where InnoDB caches table and index data
#innodb_additional_mem_pool_size = 4M       #global buffer
innodb_status_file                         #extra reporting
innodb_file_per_table                      #enable always
innodb_flush_log_at_trx_commit  = 1        #2/0 = perf, 1 = ACID
innodb_table_locks              = 0        #preserve table locks
innodb_lock_wait_timeout        = 180
innodb_thread_concurrency       = 128      #recommend 2x core quantity
innodb_commit_concurrency       = 16       #recommend 4x num disks
innodb_flush_method             = O_DSYNC  #O_DIRECT = local/DAS, O_DSYNC = SAN/iSCSI

innodb_autoinc_lock_mode        = 1    # 0 avoids jumps in sequence

#innodb_support_xa               = 0       #recommend 0, disable xa to negate extra disk flush


#skip-innodb-doublewrite

## Per-Thread Buffer memory utilization equation:
#(read_buffer_size + read_rnd_buffer_size + sort_buffer_size + thread_stack + join_buffer_size + binlog_cache_size) * max_connections

## Global Buffer memory utilization equation:
# innodb_buffer_pool_size + innodb_additional_mem_pool_size + innodb_log_buffer_size + key_buffer_size + query_cache_size
#
# ha related

#port=24801
#socket=/tmp/s1.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
skip-name-resolve
transaction_write_set_extraction=XXHASH64
#server_id=10
max_allowed_packet=256M
binlog-row-image = MINIMAL
binlog-rows-query-log-events = ON
log-bin-trust-function-creators = TRUE
expire-logs-days = 90
max-binlog-size = 1G
relay-log-recovery = ON
slave-parallel-type = LOGICAL_CLOCK
slave-preserve-commit-order = ON
slave-parallel-workers = 8
slave-rows-search-algorithms = 'INDEX_SCAN,HASH_SCAN'
slave-type-conversions = ALL_NON_LOSSY
sync-master-info = 1000
sync-relay-log = 1000

#gtid_mode=ON
#enforce_gtid_consistency=ON
#master_info_repository=TABLE
#relay_log_info_repository=TABLE
#relay_log_recovery=ON
#binlog_checksum=NONE
log_slave_updates=ON                                            # M2M LOG REPLICATION
log_bin=binlog                                                  # M2M LOG REPLICATION
#binlog_format=ROW
#disabled_storage_engines="MyISAM,BLACKHOLE,FEDERATED,ARCHIVE"
#transaction-isolation = 'READ-COMMITTED'
#bind_address="0.0.0.0"
#
# include all files from the config directory
#
#!includedir /etc/my.cnf.d
#plugin-load = group_replication.so
#group_replication = FORCE_PLUS_PERMANENT
#transaction-write-set-extraction = XXHASH64
#group_replication_start_on_boot = ON
#group_replication_bootstrap_group = OFF
#group_replication_group_name = 550fa9ee-a1f8-4b6d-9bfe-c03c12cd1c72 #Ruchi - This number should be same for Alu Primary and secondary server
#group_replication_group_name = 550fa9ee-a1f8-4b6d-9bfe-c03c12cd1c77
#group_replication_local_address = '10.227.244.77:3310' #Ruchi - AluPrimaryserverIP:port
#group_replication_group_seeds = '10.227.244.77:3310,10.227.244.79:3310' #Ruchi - 'AluPrimaryServerIP:port, AluSecondaryServerIP:port'

#Replication database filter
binlog_do_db = Vegayan                                          # M2M LOG REPLICATION
replicate-do-db = Vegayan                                       # M2M LOG REPLICATION
skip-slave-start=1

[mysqldump]
quick
quote-names
max_allowed_packet                 = 128M